.home__headerMain {
  height: 48px;
  padding: 6px;
}

.home__header {
  display: flex;
  position: relative;
  float: right;
}

.home__headerLeft,
.home__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
}

.home__headerLeft {
  width: 110px;
  margin-right: 10px;
}

.home__headerRight {
  width: 95px;
}

.home__header a {
  -webkit-transform: scale(1, 1.1); /* Safari and Chrome */
  -moz-transform: scale(1, 1.1); /* Firefox */
  -ms-transform: scale(1, 1.1); /* IE 9 */
  -o-transform: scale(1, 1.1); /* Opera */
  transform: scale(1, 1.1); /* W3C */
}

.home__header a:hover {
  text-decoration: underline;
}

.home__headerRightApps {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  color: #5f6368;
}

.home__headerRightApps:hover {
  border-radius: 20px;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.home__header a {
  text-decoration: none;
  color: black;
  font-stretch: extra-condensed;
}

.home__bodyImage {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 207px;
}
